* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #A8B5DE;
  color: #2e0c79;
}

.header {
  font-family: 'PontanoSans-Regular', Arial, sans-serif;
  background-color: rgba(46, 12, 121, 0.8);
  color: #ffffff;
  display: flex; /* Используем Flexbox для расположения элементов рядом */
  align-items: center; /* Выравниваем элементы по центру по вертикали */
  padding: 10px 200px;
}

.header__nav {
  display: flex;
  margin-left: auto; /* Навигационное меню поставлено в правый край экрана */
}

.header__list {
  list-style-type: none; /* Убираем маркеры у списка */
  display: flex; /* Используем Flexbox для списка */
}

.header__item {
  margin-left: 20px; /* Отступ между пунктами меню */
}

.header__link {
  color: #fff;
  text-decoration: none;
}

/* Стили для наведения на пункты меню */
.header__link:hover {
  color: #7ba0f0; /* Цвет текста при наведении */
  text-decoration: underline; /* Подчеркивание текста при наведении */
}

/* Добавляем стиль для активного пункта меню */
.header__link__active {
  color: #bfb0df; /* Цвет для активного пункта меню */
}

/* Заголовки и блоки */
.intro {
  text-align: center;
  padding: 0px 20px 10px;
}

.intro h1 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.intro p {
  font-size: 1.2rem;
}
.mailings_body_text a {
  color: #7241dd;
}

.mailings_intro_img {
  width: 950px;
  height: auto;
}
.mailings_body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.mailings_body_attention,
.mailings_body_text,
.mailings_body_conclusion {
  margin: 20px 0;
}
.mailings_body_intro,
.mailings_body_attention,
.mailings_body_text,
.mailings_body_conclusion {
  padding: 20px;
  background-color: #f0e9e9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(46, 12, 121, 0.8);
}
.mailings_body_attention,
.mailings_body_conclusion {
  text-align: center;
  background-color: #b5b6df;
}

.mailings_body_text h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.mailings_body_text p {
  font-size: 1rem;
}
.star{
  width: 15px;
  height: auto;
}
/* Анимации */

.mailings_body_text:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(46, 12, 121, 0.8);
  color: #fff;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}
