* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito Sans', Arial, sans-serif;
    background-color: #A8B5DE;
    color: #2e0c79;
  }
  
  .header {
    font-family: 'Inter', Arial, sans-serif;
    background-color: rgba(46, 12, 121, 0.8);
    color: #ffffff;
    display: flex; /* Используем Flexbox для расположения элементов рядом */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    padding: 10px 200px;
  }
  
  
  .header__nav {
    display: flex;
    margin-left: auto; /* Навигационное меню поставлено в правый край экрана */
  }
  
  .header__list {
    list-style-type: none; /* Убираем маркеры у списка */
    display: flex; /* Используем Flexbox для списка */
  }
  
  .header__item {
    margin-left: 20px; /* Отступ между пунктами меню */
  }
  
  .header__link {
    color: #fff;
    text-decoration: none;
  }
  
  .header__link:hover {
    color: #7ba0f0; /* Цвет текста при наведении */
    text-decoration: underline; /* Подчеркивание текста при наведении */
    text-decoration-thickness: 3px;
  }
  
  .header__link__active {
    color: #bfb0df; /* Цвет для активного пункта меню */
    text-decoration-thickness: 3px;
  }
  
   /* Скрываем бургер-меню по умолчанию */
  .menu {
    display: none;
  }


/* Заголовки и блоки */

main {
    padding: 20px;
  }
  
  .contact-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-header h2 {
    font-size: 24px;
    color: #2e0c79;
    margin-bottom: 10px;
  }
  
  .contact-header p {
    font-size: 18px;
    color: #2e0c79;
    margin-bottom: 0px;
  }
  
  .contact-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .contact-item {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(46, 12, 121, 0.8);
    text-align: center;
  }
  
  .contact-item h2 {
    color: #2e0c79;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .contact-item p {
    font-size: 16px;
  }

  
/* Форма для отправки сообщения */
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(46, 12, 121, 0.8);
  }
  
  .contact-form h2 {
    text-align: center;
    color: #2e0c79;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .contact-form label {
    display: block;
    margin: 10px 0 0px;
    font-size: 14px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #cdceee;
    margin-bottom: 10px;
  }
  .contact-form textarea {
    height: 40px;
    /*resize: none;  Запрещаем изменение размера пользователем */
  }
  
  .contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2e0c79;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #af1a1a;
  }

  
footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(46, 12, 121, 0.8);
    color: #fff;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
  }
  @media (max-width: 880px) {
    .contact-info {
        flex-direction: column; /* Меняем направление на вертикальное */
        align-items: center; /* Центрируем элементы по горизонтали */
    }
  
    .contact-item {
        width: 50%;
        margin-bottom: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .header__logo {
        display: none; /* Скрываем логотип на мобильных устройствах */
    }

    .header__nav {
        display: none; /* Скрываем обычное меню на мобильных устройствах */
    }

    .header {
        padding-bottom: 40px;
    }
    .burger-menu {
        display: flex; /* Показываем бургер-меню на мобильных устройствах */
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 10; 
    }
    
    .burger-icon {
        cursor: pointer; /* Указатель при наведении на иконку */
        display: flex; /* Используем Flexbox для расположения линий */
        flex-direction: column; /* Располагаем линии вертикально */
        gap: 5px; /* Промежуток между линиями */
    }
    
    .burger-icon span {
        width: 30px; /* Ширина линии */
        height: 4px; /* Высота линии */
        background-color: black; /* Цвет линий */
        transition: all 0.3s ease; /* Плавный переход для анимации */
    }
    .menu.active {
        display: block; /* Показываем меню при активном состоянии */
        position: absolute; /* Позиционируем меню */
        top: 50px; /* Располагаем ниже бургер-меню */
        left: 10px; /* Выравниваем влево */
        background-color: #2e0c79;
        padding: 20px; /* Отступы внутри меню */
        border-radius: 10px;
         /* Ограничиваем ширину меню */
        /* max-width: calc(100% - 10px); */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавляем тень для глубины */
    }
    .menu {
        display: none;
        position: absolute;
        top: 50px;
        left: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        border-radius: 10px;
      }
      
      .menu ul {
        list-style: none;
        padding: 0;
      }
      
      .menu ul li {
        margin: 10px 0;
      }
      
      .menu ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
      }
      
      /* Анимация для открытия меню */
      .menu.open {
        display: block;
      }
      
  h1, h2 {
        font-size: 20; /* Уменьшаем размер заголовков на мобильных устройствах */
    }

    p {
        font-size: 16; /* Уменьшаем размер текста абзацев на мобильных устройствах */
    }


    @media (max-width: 580px) {
    .contact-item {
        width: auto;
    }

    .contact-item h2 {
        font-size: 14px;
    }

    .contact-item p {
        font-size: 14px;
    }
        }
  }